    <form name="blogForm" novalidate   ng-submit="blog.submit()" layout="column" layout-padding>
        <md-input-container>
            <label>Title</label>
            <input md-maxlength="30" name="title" ng-model="blog.title">
            <div ng-messages="blogForm.title.$error">
                <div ng-message="md-maxlength">The title has to be less than 30 characters long.</div>
            </div>
        </md-input-container>
        <md-input-container >
            <label>Content</label>
            <textarea ng-model="blog.content" name="content" md-maxlength="150"></textarea>
            <div ng-messages="blogForm.content.$error">
                <div ng-message="md-maxlength">The instructions has to be less than 500 characters long.</div>
            </div>
        </md-input-container>
        <div layout="row">
            <md-button flex type="submit" ng-disabled="blogForm.$invalid">
                Submit
            </md-button>
            <md-button flex type="reset" ng-disabled="blogForm.$pristine">
                Reset
            </md-button>
        </div>
    </form>
